@import "variable_overrides";
@import "bootstrap";
h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 {
  color: $brand-primary;
}
h1 small {
  font-weight: 700;
  color: #000;
}
body {
  padding-top: 70px;
  padding-bottom: 20px;
}
.navigation li {
  float: left;
  padding: 10px;
}
.contact {
  text-align: right;
}