.breadcrumb {
  padding: 0;
  background-color: transparent;
}

.resume h1 {
  display: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}