body {
  color: #000;
  font-size: 11pt;
}
.pic, .divider, .sidebar {
  display: none;
}

.resume h1 {
  display: block;
  font-size: 18pt;
}
.resume h2 {
  font-size: 16pt;
}
.resume h3 {
  font-size: 14pt;
}
.resume h4 {
  font-size: 13pt;
}
.resume .breadcrumb li {
  width: 50%;
}